In [281]:
import pandas as pd 
df = pd.read_csv("Tumor Cancer Prediction_Data.csv",na_values=' ')

In [282]:
df.head()

,Index,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F22,F23,F24,F25,F26,F27,F28,F29,F30,diagnosis
0,1,0.008043,10.05,17.53,64.41,0.02100,0.10070,0.1402,0.07326,0.02511,...,16.85,0.007803,0.1055,0.002778,11.16,26.84,71.98,310.8,0.06499,B
1,2,0.010450,10.80,21.98,68.79,0.01844,0.08801,0.1303,0.05743,0.03614,...,20.20,0.006543,0.1927,0.002690,12.76,32.04,83.69,359.9,0.07485,B
2,3,0.008747,16.14,14.86,104.30,0.01500,0.09495,0.1206,0.08501,0.05500,...,21.83,0.003958,0.2310,0.001621,17.71,19.58,115.90,800.0,0.11290,B
3,4,0.015190,12.18,17.84,77.79,0.02220,0.10450,0.1140,0.07057,0.02490,...,24.44,0.005433,0.0498,0.003408,12.83,20.92,82.14,451.1,0.05882,B
4,5,0.004551,12.25,22.44,78.18,0.01608,0.08192,0.1256,0.05200,0.01714,...,18.04,0.005096,0.1230,0.002399,14.17,31.99,92.74,466.5,0.06335,B

In [283]:
df.shape

(455, 32)

**Checking duplicated rows**

In [284]:
df=df.drop_duplicates()
df.shape

(455, 32)

**Checking for missing values**

In [285]:
x=df.isna()
import numpy 
x2=numpy.any(x)
x2

False

**Encoding non numerical data**

In [286]:
data_encoded=pd.get_dummies(df, drop_first = True)
data_encoded= data_encoded.drop('Index',axis=1)

data_encoded.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F22,F23,F24,F25,F26,F27,F28,F29,F30,diagnosis_M
0,0.008043,10.05,17.53,64.41,0.02100,0.10070,0.1402,0.07326,0.02511,0.01690,...,16.85,0.007803,0.1055,0.002778,11.16,26.84,71.98,310.8,0.06499,0
1,0.010450,10.80,21.98,68.79,0.01844,0.08801,0.1303,0.05743,0.03614,0.02991,...,20.20,0.006543,0.1927,0.002690,12.76,32.04,83.69,359.9,0.07485,0
2,0.008747,16.14,14.86,104.30,0.01500,0.09495,0.1206,0.08501,0.05500,0.01831,...,21.83,0.003958,0.2310,0.001621,17.71,19.58,115.90,800.0,0.11290,0
3,0.015190,12.18,17.84,77.79,0.02220,0.10450,0.1140,0.07057,0.02490,0.01131,...,24.44,0.005433,0.0498,0.003408,12.83,20.92,82.14,451.1,0.05882,0
4,0.004551,12.25,22.44,78.18,0.01608,0.08192,0.1256,0.05200,0.01714,0.00941,...,18.04,0.005096,0.1230,0.002399,14.17,31.99,92.74,466.5,0.06335,0

In [287]:

x=data_encoded.iloc[:,:-2].values
y= data_encoded.iloc[:,30:32].values

**Splitting the data set**

In [288]:
from sklearn.model_selection import train_test_split  

x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.2, random_state=1)

**Applying Feature Scaling using Standardization**

In [289]:
from sklearn.preprocessing import StandardScaler
st_x= StandardScaler()  

x_train= st_x.fit_transform(x_train)  

x_test= st_x.transform(x_test)

In [290]:
x_train

array([[-1.30836262, -0.58165366, -0.29376538, ..., -0.51377611,
        -0.71095354, -0.57534786],
       [-0.71402037, -0.86058473, -0.55197247, ...,  0.15802668,
        -0.79371423, -0.77750167],
       [ 0.20256579,  1.4272136 ,  1.74137595, ...,  1.67479382,
         1.55863327,  1.34622402],
       ...,
       [-0.02965175,  0.25513958, -0.86182098, ..., -0.9851604 ,
         0.21561279,  0.086928  ],
       [ 1.24249647,  1.27225189,  0.25081685, ...,  0.28950121,
         0.97253442,  1.22404315],
       [ 1.88361878,  0.04664564,  0.10997662, ..., -0.27648061,
         0.00355692, -0.06468736]])

In [291]:
x_test

array([[-1.08169812, -0.68308314,  0.19682809, ...,  0.53802014,
        -0.58548715, -0.65809763],
       [ 0.354012  , -0.21256304, -0.77966417, ..., -0.3630614 ,
        -0.30097887, -0.36986185],
       [-0.43266695,  0.30867181, -1.40170853, ..., -1.55915896,
        -0.07007359,  0.16273567],
       ...,
       [-0.06835467, -0.32244498, -0.74210678, ..., -0.88575283,
        -0.53217866, -0.38735593],
       [-1.57171077, -0.25200784, -0.78905352, ..., -0.80237873,
        -0.43822613, -0.32182255],
       [-0.70661633, -1.18854006, -0.44868963, ..., -0.35825136,
        -1.17217505, -0.99353966]])

In [292]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(x_train, y_train)
print('Accuracy of Logistic regression classifier on training set: {:.2f}'
      .format(logreg.score(x_train, y_train)))
print('Accuracy of Logistic regression classifier on test set: {:.2f}'
     .format(logreg.score(x_test, y_test)))

Accuracy of Logistic regression classifier on training set: 0.99
Accuracy of Logistic regression classifier on test set: 0.98

D:\Anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [297]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(criterion='entropy', max_depth=5, random_state=1)
clf.fit(x_train, y_train)
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(x_train, y_train)))
print('Accuracy of Decision Tree classifier on test set: {:.2f}'
     .format(clf.score(x_test, y_test)))

Accuracy of Decision Tree classifier on training set: 1.00
Accuracy of Decision Tree classifier on test set: 0.97

In [294]:
from sklearn.svm import SVC
svm = SVC(kernel = 'linear')
svm.fit(x_train, y_train)
print('Accuracy of SVM classifier on training set: {:.2f}'
     .format(svm.score(x_train, y_train)))
print('Accuracy of SVM classifier on test set: {:.2f}'
     .format(svm.score(x_test, y_test)))

Accuracy of SVM classifier on training set: 0.99
Accuracy of SVM classifier on test set: 0.98

D:\Anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)